@font-face {
  font-family: "font-reg";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(../fonts/PlayfairDisplay-ExtraBold.ttf);
}
* {
  padding: 0;
  margin: 0;
}
* ::selection {
  background: #000101;
  color: #fefeff;
}

.wrapper {
  perspective: 900px;
}

.appear {
  opacity: 0;
  transform: translatey(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.appear.is-inview {
  transition-delay: 1s;
  opacity: 1;
  transform: none;
}

a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefeff;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 0.8vw);
}
a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefeff;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 0.8vw);
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fefeff;
  bottom: -4px;
  left: 0;
  transform-origin: left;
}
a:hover {
  transform: scale(1.04);
  color: rgb(217, 217, 217);
}
a:hover::after {
  animation: animlink 1.4s infinite ease-in-out;
}
@keyframes animlink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}

img {
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
img:hover {
  filter: grayscale(10%);
}

body {
  font-family: "font-reg", serif;
  background: #000101;
  color: #fefeff;
  transition: 0.7s ease-in-out;
}
body h2 {
  font-size: calc(3rem + 5vw);
  text-align: center;
  color: rgb(217, 217, 217);
  font-family: "font-bold", serif;
  letter-spacing: 3px;
}
body header {
  min-height: 100vh;
  position: relative;
  margin: 2vw 2vw 0;
}
body header #h1-wrapper {
  transition-delay: 0.3s;
}
body header #h1-wrapper h1 {
  font-size: calc(2rem + 8vw);
  margin-top: 70px;
  font-family: "font-bold", serif;
  letter-spacing: 6px;
  color: #fefeff;
}
body header #h2-1 {
  transition-delay: 0.9s;
}
body header #h2-2 {
  transition-delay: 1.2s;
}
body header h2 {
  font-style: calc(1rem + 6.5vw);
  margin: 18px 0;
  text-align: left;
}
body header .scroll-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 3.5vw;
  color: rgb(217, 217, 217);
  font-size: calc(0.8rem + 0.5vw);
}
body header .links {
  display: flex;
  justify-content: space-between;
}
body .about {
  margin: 400px 0 250px;
}
body .about .img1-wrapper .img1 {
  background: url(./assets/img/111a1573-699d-4d91-a0d3-c5b1210ae1e8.JPG) top/cover;
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
body .about .img1-wrapper .img1:hover {
  filter: grayscale(10%);
}
body .about .about-intro {
  margin-bottom: 35px;
}
body .about .about-title {
  margin: 20px auto;
  font-weight: bold;
}
body .about p {
  width: 70%;
  min-width: 280px;
  text-align: center;
  margin: 0 auto;
  line-height: calc(7px + 4.5vw);
  font-size: calc(1rem + 1vw);
  letter-spacing: 1px;
  line-height: 1.5;
}
body .about .h2-wrapper {
  mix-blend-mode: exclusion;
  margin: -220px 0 200px;
  text-align: center;
}
body .line-wrapper.is-inview .line {
  opacity: 1;
}
body .line {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: #000101;
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.45s;
  opacity: 0;
  transform: scaleX(0);
}
body .line-wrapper.is-inview .line {
  opacity: 1;
  transform: scaleX(1);
}
body .title {
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 0;
}
body .title span {
  display: inline-block;
}
body .skills {
  margin: 200px 0 250px;
}
body .skills h2 {
  margin-bottom: 150px;
}
body .skills .wrapper {
  margin: 30px 0;
}
body .skills .appear {
  text-align: center;
  transition-delay: 0.6s;
}
body .skills p {
  font-size: calc(1rem + 6vw);
  font-family: "font-bold", serif;
  letter-spacing: 4px;
  background: #000101;
  color: #fefeff;
  display: inline-block;
  padding: 0 12px 12px;
}
body .portfolio {
  margin: 200px 0;
}
body .portfolio .project-container {
  margin-top: 100px;
}
body .portfolio .project-container .project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 50px 5vw;
}
body .portfolio .project-container .project::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 100%;
  top: -3px;
  background-color: #fefeff;
  transition: width 1s ease-out;
  transition-delay: 0.85s;
  z-index: 1;
}
body .portfolio .project-container .project.is-inview::before {
  width: 0;
}
body .portfolio .project-container .project .image-container {
  display: flex;
  justify-content: center;
}
body .portfolio .project-container .project img {
  transition: 0.4s ease-out;
  width: 100%;
}
body .portfolio .project-container .project .projects-info {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 3vw;
  transition: 0.4s ease-out;
  opacity: 0;
}
body .portfolio .project-container .project .projects-info a {
  font-size: calc(1rem + 3vw);
}
body .portfolio .project-container .project .projects-info p {
  font-size: 2rem;
  margin-top: 1.5vw;
  color: #fefeff;
}
body .portfolio .project-container .project:hover img {
  filter: brightness(20%);
}
body .portfolio .project-container .project:hover .projects-info {
  opacity: 1;
  transform: translate(0, -50%);
}
body .portfolio .project-container #p2 {
  margin: 0 6vw 0 auto;
}
body .portfolio .project-container #p3 {
  margin-left: 8vw;
}
body footer {
  margin: 150px 0 120px;
}
body footer #l2 {
  transition-delay: 1.2s;
}
body footer #l3 {
  transition-delay: 1.6s;
}
body footer p {
  font-size: calc(1rem + 2vw);
  margin: 25px 0;
  text-align: center;
}
body footer a {
  font-family: "font-bold", serif;
  color: #000101;
  font-size: calc(1rem + 2vw);
  font-weight: bold;
}
body footer .img2 {
  background: url(./assets/img/IMG_4298.PNG) center/cover;
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
body footer .img2:hover {
  filter: grayscale(10%);
}

/*# sourceMappingURL=index.css.map */
